{% extends 'layout.html' %}

{% block titleblock %}    
    History
{% endblock %}

{% block bodyblock %}    
<h1 align="center"><u>Shorten URL Displayed Here</u></h1>
<table bgcolor="#3086dc" border="2px" align="center" style="width: 100px;">
    <tr bgcolor="lightgrey">
        <th style="font-size: large;">Original Url</th>
        <th style="font-size: large;">Shorten Url</th>
        <th style="font-size: large;"></th>
    </tr>
    {% for i in hist %}
    <tr>
        <td><a href={{i.long}}>{{i.long}}</a></td>
        <td><a href=http://127.0.0.1:5000/{{i.short}}>http://127.0.0.1:5000/{{i.short}}</a></td>
        <td><a href="/delete/{{i.id}}">DELETE</a></td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}